/* h1{
 text-decoration:line-through;
color:blueviolet;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 50px; 
} */
/* *{
    background-color: violet;
} */
/* a {
    padding: 15px 30px; 
    text-align: center;
    text-decoration: none; color: #0b0909; 
    border-radius: 12px;
    box-shadow:rgb(46, 44, 44) 12px 3px;
} */

.fb {
    background-color: blue;  
}
.tw {
    background-color: rgb(92, 92, 238);  
}

.box {
    padding: 20px;
    box-sizing: border-box;
    border-radius: 12px;
    text-align: center;
    width: 300px;
    height: 400px;
    /* background-color: rgb(255, 255, 255); */
    /* border-style: solid;
    border-width: 3px;
    border-color: black; */
    border: solid 3px #0b0909;
    transition-duration: 1000ms  ;
    margin-bottom: 15px;
    display: inline-block ;
}

.box img{
    width: 70px;
}

.box p{
    text-align: justify;
    line-height: 22px; 
}
.box a {
    padding: 15px 30px;
    margin-top: 8px;
    display: block;
    text-decoration: none; color: aliceblue;
    background-color: #0b0909;
    border-radius: 24px;
    
}
.box:hover{
    background-color: rgb(37, 212, 154)
    
}